@using Legajos.Domain.Model

@{
    Layout = "_Layout";
}
@model RrhhModel
@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="AgreggateData form-group">
    <br />
    @Html.AntiForgeryToken()
    <form asp-action="UpdatePersons">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" id="codUser" value="@Model.Legajo" name="codUser"/>

        <div class="col-md-6 form-group">
            <label asp-for="Legajo" class="control-label"></label>
            <input asp-for="Legajo" class="form-control" id="legajo" />
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <label asp-for="Nivel" class="control-label"></label>
            <input asp-for="Nivel" class="form-control" />
            <label asp-for="Passwd" class="control-label"></label>
            <input asp-for="Passwd" class="form-control" />
            <label asp-for="Cuil" class="control-label"></label>
            <input asp-for="Cuil" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Grabar" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#legajo').prop("disabled", true);
        })
    </script>
}
